.counter-container {
  display: flex;
  flex-direction: column; /* Para que los elementos se apilen verticalmente */
  align-items: center; /* Centra horizontalmente */
  gap: 10px; /* Espacio entre elementos */
  margin-top: 1rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.counter-button {
  background-color: #ffb6c1; /* Rosa pastel */
  color: white;
  border-color: #e91e63;
}

.counter-button:hover {
  background-color: #e91e63; /* Rosa más fuerte al pasar el mouse */
}

.quantity-input {
  width: 60px; /* Ancho fijo para el input */
  text-align: center;
}

.add-to-cart-button {
  background-color: #e91e63; /* Rosa fuerte para el botón principal */
  color: white;
  margin-top: 10px;
}

.add-to-cart-button:hover {
  background-color: #ffb6c1; /* Rosa pastel al pasar el mouse */
  color: black;
}

.MuiInputBase-root {
  border-color: #e91e63 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #e91e63 !important;
}
